@import "tailwindcss";

@theme {
  --font-int: "Inter", sans-serif;
  --shadow-serShdow: 0 6px 35px 0 rgba(0, 0, 0, 0.1);
}

.swiper {
  padding-bottom: 50px !important;
}

.swiper-pagination {
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  text-align: center !important;
  z-index: 10 !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: #6a4df4 !important;
  opacity: 10% !important;
  margin: 0 6px !important;
  border-radius: 50%;
  display: inline-block !important;
}

.swiper-pagination-bullet-active {
  background-color: #6a4df4 !important;
  opacity: 100% !important;
}

.swiper-slide-active .swp {
  box-shadow: 0 6px 35px 0 rgba(0, 0, 0, 0.1);
  border-color: transparent;
}
